$lightGreen: #b9e7e7;

.app{
    justify-content: center;
    margin: 30px;
    .container{
        width: auto;


        .link{
            text-decoration: none;
            color: inherit;
        }
        //LOGIN & REGISTER

        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;

            h1{
                font-size: 3rem;
                font-weight: 300;
                margin-bottom: 1rem;
                color: teal
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 10px;
                background-color: white;
                width: 200px;
                gap: 20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid grey;
                    background-color: transparent;
                    font-size: 1rem;
                }

                button{
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    color: white;
                    font-size: 1rem;
                    font-weight: 300;
                    cursor: pointer;
                }

                p{
                    font-size: 12px;
                    color: red;
                    margin-top: 10px;
                    text-align: center;
                }


                span{
                    font-size: 12px;
                    color: grey;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }


        //NAVBAR

        .navbar{
            .container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0px;
                background-color: white;

                .logo{
                    img{
                        width: 100px;
                    }
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h6{
                        font-size: 1rem;
                        font-weight: 300;
                        color: grey;
                    }

                    span{
                        cursor: pointer;
                    }

                    .write a{
                        background-color: teal;
                        color: white;
                        padding: 5px 10px;
                        border-radius: 5px;
                        font-size: 30px;
                        font-weight: 300;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        transition: all 0.3s ease-in-out;
                        text-decoration: none;
                        
                        &:hover{
                            width: auto;
                            height: auto;
                            color : teal;
                            background-color: white;
                            border: 1px solid teal;
                            cursor: pointer;
                        }

                    }
                }

                }
            }


            //FOOTER

            footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 100px;
                padding: 20px;
                background-color: $lightGreen;
                font-size: 12px;
                
                img{
                    height: 50px;
                }

                h6{
                    font-size: 1rem;
                    font-weight: 300;
                    color: grey;
                }
            }


            //HOME

            .home{

                .posts{
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 150px;

                    .post{
                        display: flex;
                        gap: 20px;
                        
                        &:nth-child(odd){
                            flex-direction: row-reverse;
                        }

                        .img{
                            flex: 2;
                            position: relative;


                            &::after{
                                content: "";
                                width: 100%;
                                height: 100%;
                                background-color: $lightGreen;
                                position: absolute;
                                top: 20px;
                                left: -20px;
                                z-index: -1;
                                
                            }

                            img{
                                width: 100%;
                                max-height: 400px;
                                object-fit: cover;
                            }
                        }

                        .content{
                            flex: 3;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            h1{
                                font-size: 2rem;
                                font-weight: 300;
                                color: teal;
                            }

                            p{
                                font-size: 1rem;
                                font-weight: 300;
                                color: grey;
                            }

                            button{
                                width: max-content;
                                padding: 10px 20px;
                                border: none;
                                background-color: teal;
                                color: white;
                                font-size: 1rem;
                                font-weight: 300;
                                cursor: pointer;
                                transition: all 0.3s ease-in-out;

                                &:hover{
                                    width: max-content;
                                    color : teal;
                                    background-color: white;
                                    border: 1px solid teal;
                                }

                            }

                            .title{
                                font-size: 1.5rem;
                                font-weight: 300;
                                color: teal;
                            }

                            .desc{
                                font-size: 1rem;
                                font-weight: 300;
                                color: grey;
                            }

                            .info{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .author{
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;

                                    img{
                                        width: 40px;
                                        height: 40px;
                                        object-fit: cover;
                                        border-radius: 50%;
                                    }

                                    .name{
                                        font-size: 1rem;
                                        font-weight: 300;
                                        color: grey;
                                    }
                                }

                                .date{
                                    font-size: 1rem;
                                    font-weight: 300;
                                    color: grey;
                                }
                            }
                        }
                    }

                }

            }

            //SINGLE POST

            .single{
                display: flex;
                gap: 50px;
                .content{
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .img{
                        img{
                            width: 100%;
                            max-height: 300px;
                            object-fit: cover;
                        }
                    }

                    .user{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img{
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                        span{
                            font-size: Bold;
                            font-weight: 500;
                            color: grey;
                        }
                    }

                    .edit{
                        display: flex;
                        gap: 5px;

                        img{
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }
                    }

                    h1{
                        font-size: 42px;
                        font-weight: 400;
                        color: #333;
                    }

                    p{
                        line-height: 30px;
                        font-size: 16px;
                        font-weight: 300;
                        color: rgb(0, 0, 0);
                    }
                }
                .menu{
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    h1{
                        font-size: 1.5rem;
                        font-weight: 300;
                        color: teal;
                    }

                    .post{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        img{
                            width: 100%;
                            max-height: 200px;
                            object-fit: cover;
                        }

                        h2{
                            font-size: 1rem;
                            font-weight: 300;
                            color: grey;
                        }
                    }
                }
            }

            //WRITE

            .add{
                margin-top: 20px;
                display: flex;
                gap: 20px;

                .content{
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input{
                        width: 100%;
                        height: 50px;
                        border: none;
                        border-bottom: 1px solid grey;
                        font-size: 1rem;
                        font-weight: 300;
                        color: grey;
                        outline: none;
                    }

                    .editorContainer{
                        width: 100%;
                        height: 500px;
                        padding: 10px;
                        font-size: 1rem;
                        font-weight: 300;
                        color: grey;
                        outline: none;

                        .editor{
                            width: 100%;
                            height: 100%;
                            border: none;
                            outline: none;
                            font-size: 1rem;
                            font-weight: 300;
                            color: grey;
                        }

                    }
                }

                .menu{
                    flex: 2;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .item{
                        border: 1px solid grey;
                        padding: 10px;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        font-size: 12px;
                        color: #555;

                        h1{
                            font-size: 20px;

                        }

                        .file{
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            img{
                                width: 20px;
                                height: 20px;
                            }

                            span{
                                font-size: 14px;
                                font-weight: 300;
                                color: grey;
                            }
                        }

                        .buttons{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            :first-child{
                                width: 100%;
                                height: 40px;
                                border: none;
                                background-color: teal;
                                color: white;
                                font-size: 1rem;
                                font-weight: 300;
                                cursor: pointer;
                                padding: 3px 5px;

                                &:hover{
                                    width: 100%;
                                    color : teal;
                                    background-color: white;
                                    border: 1px solid teal;
                                }
                            }
                            :last-child{
                                width: 100%;
                                height: 40px;
                                border: none;
                                background-color: teal;
                                color: white;
                                font-size: 1rem;
                                font-weight: 300;
                                cursor: pointer;
                                padding: 3px 5px;

                                &:hover{
                                    width: 100%;
                                    color : teal;
                                    background-color: white;
                                    border: 1px solid teal;
                                }
                            }
                            
                        }

                        .cat{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            font-size: 14px;
                            font-weight: 300;
                            color: teal;

                            input{
                                width: 20px;
                                height: 20px;
                                outline: none;
                            }
                        }

                        label{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            font-size: 14px;
                            font-weight: 300;
                            color: grey;

                            input{
                                width: 20px;
                                height: 20px;
                                outline: none;
                            }
                        }

                    }
                }
            }

        }
    }